<section
  class="about d-flex justify-content-center align-items-center flex-column"
>
  <div class="container">
    <h1 class="fw-bold text-center py-5">About</h1>
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-capitalize fs-2 py-1">Education</h4>
        <div class="inner">
          <div class="box mb-2">
            <h5>Alexandria University</h5>
            <ul>
              <li>Bachelor of Engineering</li>
              <li>Graduated 2023</li>
              <li>GPA B (84.5%)</li>
            </ul>
          </div>
        </div>
        <div class="inner">
          <div class="box">
            <h5>Route Academy</h5>
            <ul>
              <li>Front End Developer</li>
              <li>Diploma Degree</li>
              <li>Graduated 2025</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="text-capitalize fs-2 py-1">summary</h4>
        <div class="inner">
          <div class="box">
            <p class="lh-2">
              I'm abdelaziz mohamed, a Front-End developer passionate about UI
              design. I love solving complex problems and expanding my skill
              set. I strive to create high-quality, maintainable code that meets
              industry standards, and I am always eager for new challenges to
              grow as a developer. <br />
              <br />
              Although I have a bachelor's degree in civil engineering, my
              interest in software development led me to pursue a tech career
              Especially Front and developer. With experience in sales,
              marketing, and public relations, I bring a diverse skill set to
              the table. My curiosity drives me to constantly learn, improve,
              and seek out new challenges in my professional journey.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
