<nav class="navbar mynav navbar-expand-lg py-2 fixed-top">
  <div class="container">
    <a class="navbar-brand fs-2" routerLink="/home"
      ><strong>A</strong><span style="color: #fff">bdelaziz</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      #navbarNav
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="closeNavbar()"
            routerLink="/home"
            routerLinkActive="btn-color rounded-2"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="closeNavbar()"
            routerLink="/about"
            routerLinkActive="btn-color rounded-2"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="closeNavbar()"
            routerLink="/skills"
            routerLinkActive="btn-color rounded-2"
            >Skills</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="closeNavbar()"
            routerLink="/projects"
            routerLinkActive="btn-color rounded-2"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="closeNavbar()"
            routerLink="/contact"
            routerLinkActive="btn-color rounded-2"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
