<section class="projects d-flex justify-content-center align-items-center">
  <div class="container">
    <h1 class="fw-bold text-center py-5">Projects</h1>
    <div class="row g-5">
      <div class="col-md-4">
        <div class="card">
          <img
            src="/projects/p6.png"
            class="card-img-top"
            alt="E-commerce App Angular"
          />
          <div class="card-body text-white">
            <h5 class="card-title fw-bold">E-commerce App</h5>
            <p class="card-text">
              Swift Cart is a powerful and user-friendly shopping platform
              designed to provide a seamless and efficient online shopping
              experience.
            </p>
            <a
              href="https://e-commerce-swift-cart.vercel.app/"
              target="_blank"
              class="btn btn-outline-light me-3"
              >View Demo</a
            >
            <a
              href="https://github.com/AbdelazizKishk/E-commerce"
              target="_blank"
              class="btn btn-outline-light"
              >View Repo</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="/projects/p1.png"
            class="card-img-top"
            alt="Simple Design Angular"
          />
          <div class="card-body text-white">
            <h5 class="card-title fw-bold">Simple Design Angular</h5>
            <p class="card-text">Simple Angular Design for routing and SPA</p>
            <a
              href="https://first-app-angular-black.vercel.app/"
              target="_blank"
              class="btn btn-outline-light me-3"
              >View Demo</a
            >
            <a
              href="https://github.com/AbdelazizKishk/First-App-Angular"
              target="_blank"
              class="btn btn-outline-light"
              >View Repo</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/projects/p2.png" class="card-img-top" alt="Bookmarker" />
          <div class="card-body text-white">
            <h5 class="card-title fw-bold">Bookmarker</h5>
            <p class="card-text">
              CRUD Saving links For Websites in local storage
            </p>
            <a
              href="https://abdelazizkishk.github.io/Bookmark-your-favorite-sites/"
              target="_blank"
              class="btn btn-outline-light me-3"
              >View Demo</a
            >
            <a
              href="https://github.com/AbdelazizKishk/Bookmark-your-favorite-sites"
              target="_blank"
              class="btn btn-outline-light"
              >View Repo</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/projects/p3.png" class="card-img-top" alt="Login Page" />
          <div class="card-body text-white">
            <h5 class="card-title fw-bold">Login Page</h5>
            <p class="card-text">
              Login and Signup page using Regular Expression
            </p>
            <a
              href="https://abdelazizkishk.github.io/Login-System/"
              target="_blank"
              class="btn btn-outline-light me-3"
              >View Demo</a
            >
            <a
              href="https://github.com/AbdelazizKishk/Login-System"
              target="_blank"
              class="btn btn-outline-light"
              >View Repo</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/projects/p4.png" class="card-img-top" alt="DANIELS" />
          <div class="card-body text-white">
            <h5 class="card-title fw-bold">Daniels</h5>
            <p class="card-text">Portfolio Landing page with main Animation</p>
            <a
              href="https://abdelazizkishk.github.io/Daniels/"
              target="_blank"
              class="btn btn-outline-light me-3"
              >View Demo</a
            >
            <a
              href="https://github.com/AbdelazizKishk/Daniels"
              target="_blank"
              class="btn btn-outline-light"
              >View Repo</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/projects/p5.png" class="card-img-top" alt="DevFolio" />
          <div class="card-body text-white">
            <h5 class="card-title fw-bold">DevFolio</h5>
            <p class="card-text">Portfolio Landing page with main UI Tools</p>
            <a
              href="https://abdelazizkishk.github.io/Abdelaziz/"
              target="_blank"
              class="btn btn-outline-light me-3"
              >View Demo</a
            >
            <a
              href="https://github.com/AbdelazizKishk/Abdelaziz"
              target="_blank"
              class="btn btn-outline-light"
              >View Repo</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
