.contact {
  background-color: var(--main-background);
  color: #fff;
  min-height: 100vh;
}
.contact h1 {
  color: #fff;
  font-size: 40px;
}
.inner {
  background: rgba(32, 42, 66, 1);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}
/* .box {
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  padding: 2px;
  position: relative;
  overflow: hidden;
} */
/* .box::after {
  content: "";
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 64%, 1) 0%,
    hsla(339, 100%, 55%, 1) 100%
  );
  height: 200%;
  width: 200%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
  animation: rotate 7s linear infinite;
  z-index: -1;
  padding: 3px;
  border-radius: 12px;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
} */
.box a {
  color: #fff;
}
