<section class="contact d-flex justify-content-center align-items-center">
  <div class="container">
    <h1 class="fw-bold text-center py-5">Contact Me</h1>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="box">
          <div
            class="inner d-flex justify-content-center align-items-center gap-3"
          >
            <i class="fa-regular fa-envelope fs-2"></i>
            <a
              href="mailto:abdelazizmohamed19@gmail.com"
              target="_blank"
              class="text-capitalize fs-4 text-decoration-none"
              >Gmail</a
            >
          </div>
        </div>
        <div class="box mt-2">
          <div
            class="inner d-flex justify-content-center align-items-center gap-3"
          >
            <i class="fa-brands fa-github fs-2"></i>
            <a
              href="https://github.com/AbdelazizKishk"
              target="_blank"
              class="text-capitalize fs-4 text-decoration-none"
              >Github</a
            >
          </div>
        </div>
        <div class="box mt-2">
          <div
            class="inner d-flex justify-content-center align-items-center gap-3"
          >
            <i class="fa-brands fa-linkedin fs-2"></i>
            <a
              href="https://www.linkedin.com/in/abd-elaziz-mohamed258/"
              target="_blank"
              class="text-capitalize fs-4 text-decoration-none"
              >linkedin</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
