<section class="skill d-flex justify-content-center align-items-center">
  <div class="container">
    <h1 class="fw-bold text-center py-5">Skills and Tools</h1>
    <div class="row g-5">
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <img
            class="w-50 position-absolute top-0 start-50 translate-middle"
            src="/imgs/icons/Html5.png"
            alt="html logo"
          />
          <h4 class="pt-4 text-center fw-bold">Html5</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <img
            class="w-25 position-absolute top-0 start-50 translate-middle"
            src="/imgs/icons/CSS3.png"
            alt="Css3 logo"
          />
          <h4 class="pt-4 text-center fw-bold">Css3</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <img
            class="w-25 position-absolute top-0 start-50 translate-middle"
            src="/imgs/icons/Bootstrap.png"
            alt="bootstrap logo"
          />
          <h4 class="pt-4 text-center fw-bold">Bootstrap</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <img
            class="w-25 position-absolute top-0 start-50 translate-middle"
            src="/imgs/icons/JavaScript.png"
            alt="JavaScript logo"
          />
          <h4 class="pt-4 text-center fw-bold">JavaScript</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <img
            class="w-25 position-absolute top-0 start-50 translate-middle"
            src="/imgs/icons/typescript.png"
            alt="typescript logo"
          />
          <h4 class="pt-4 text-center fw-bold">Typescript</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <img
            class="w-25 position-absolute top-0 start-50 translate-middle"
            src="/imgs/icons/tailwind.png"
            alt="tailwind logo"
          />
          <h4 class="pt-4 text-center fw-bold">Tailwind</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <i
            class="fa-brands fa-angular position-absolute top-0 start-50 translate-middle fa-3x"
            style="color: #ffffff"
          ></i>
          <h4 class="pt-4 text-center fw-bold">Angular</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <img
            class="w-25 position-absolute top-0 start-50 translate-middle"
            src="/imgs/icons/vs_code.png"
            alt="vs code logo"
          />
          <h4 class="pt-4 text-center fw-bold">Vs code</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <img
            class="w-25 position-absolute top-0 start-50 translate-middle"
            src="/imgs/icons/Notion.png"
            alt="Notion logo"
          />
          <h4 class="pt-4 text-center fw-bold">Notion</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <img
            class="w-25 position-absolute top-0 start-50 translate-middle"
            src="/imgs/icons/git.webp"
            alt="git logo"
          />
          <h4 class="pt-4 text-center fw-bold">Git</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <i
            class="fa-brands fa-github fa-3x position-absolute top-0 start-50 translate-middle"
          ></i>
          <h4 class="pt-4 text-center fw-bold">Github</h4>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="box position-relative">
          <i
            class="fa-brands fa-npm fa-3x position-absolute top-0 start-50 translate-middle"
          ></i>
          <h4 class="pt-4 text-center fw-bold">npm</h4>
        </div>
      </div>
    </div>
  </div>
</section>
